@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Montserrat:wght@100&family=Raleway:wght@100;300;400;800&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
    color: var(--txt);
}

:root {
    --dark: #251D3A;
    --dark-purple: #2A2550;
    --dark-orange: #E04D01;
    --light-orange: #FF7700;
    --light-grey: rgb(227, 227, 227);
    --bg: white;
    --txt: black;

    --l-title: #2A2550;

}

.light-theme {
    --dark: #251D3A;
    --dark-purple: #2A2550;
    --dark-orange: #3e2113;
    --light-orange: #804227;
    --light-grey: rgb(58, 54, 73);
    --bg: rgb(15, 14, 16);
    --txt: white;
    --l-title: #968fcc;

  }

.title {
    color: var(--l-title);
}

body {
    background-color: var(--bg);
}
/* 
:root {
    --bg: #0A2647;
    --box-bg: rgb(210, 208, 221);
    --active: #C69749;
    --txt: whitesmoke;
    --bd: white;
  } */
  
.heading {
    font-size: 4.5rem;
    font-weight: 600;
}

.header a {
    background-color: var(--dark-purple);
}

.l-heading {
    font-size: 2.5rem;
    font-weight: 00px;
}
.s-heading {
    font-size: 2.3rem;
    font-weight: 400px;
}

.para {
    font-size: 1.2rem;
    color: var(--txt);

    }

.product-card {
    width: 19rem;
    height: 600px;
    background-color: var(--box-bg);
    border-radius: 15px;
    margin: 1rem;

    display: flex;
    flex-direction: column;
    overflow: hidden;

}

.product-card-img {
    width: 19rem;
    height: 60%;
}

.product-card-img img {
    width: 19rem;
    height: 100%;
    border-radius: 15px 15px 0 0;
}

.product-card-info {
    height: 40%;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    color: var(--txt);
    background-color: var(--light-grey);

}

.product-card-info a {
    background-color: var(--dark-orange);
    width: fit-content;
    padding-left: 1rem;
    padding-right: 1rem;
    padding-top: 0.8rem;
    padding-bottom: 0.8rem;
    color: white;
    border-radius: 30px;

    transition: all 500ms;
}

.product-card-info a:hover {
    color: white;
}

.collection-card {
    background-color: var(--light-grey);
    /* width: 50rem; */
    height: 250px;
    border-radius: 15px;
    margin: 2rem;

    display: flex;
    overflow: hidden;
}


img {
    object-fit: cover;
}

.collection-card-info {
    background-color: var(--light-grey);
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1rem;
    padding: 1rem;
}

.collection-card-info h1 p {
    color: var(--txt);
}

.collection-card-info a {
    background-color: var(--dark-orange);
    width: fit-content;
    padding-left: 1rem;
    padding-right: 1rem;
    padding-top: 0.8rem;
    padding-bottom: 0.8rem;
    color: white;
    border-radius: 30px;
}

.collection-card-img {
    object-fit: cover;
}

.collection-card-img img {
    height: 250px;
    border-radius: 15px 0 0 15px;
}

.collections {
    width: 90%;
    display: grid;
    grid-template-columns: 1fr 1fr;

}

.collection-card-info a {
    text-decoration: none;
    transition: all 500ms;
}

.collection-card-info a:hover {
    text-decoration: underline;
}



.newsletter {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: flex-end;
    padding: 2rem;
    color: var(--txt);

}

.form {
    background-color: var(--light-grey);
    height: 150px;
    margin: 1rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;

    display: grid;
    grid-template-columns: 1fr 1fr;
}

.form form {
    display: flex;
}

.email {
    width: 70%;
}
.email input {
    height: 3rem;
    width: 100%;
}
.submit-btn {
    display: flex;
    justify-content: center;
}

.submit-btn input {
    background-color: var(--dark-orange);
    align-items: center;
    border: none;
    padding: 0 2rem 0 2rem;
    color: white;

    transform: all 500ms;
}

.submit-btn input:hover {
    text-decoration: underline;
    background-color: var(--light-orange);
}


/* purchase */
.buy {
    color: white;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
}

.purchase-order-img {
    grid-row: span 2;
    display: flex;
    justify-content: center;
}

.purchase-order-info {
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: flex-start;
    padding: 1rem;
}
.purchase-order-confirm {
    grid-row: 2 3;
    display: flex;
    align-items: center;
    justify-content: center;
}

.purchase-order-confirm button {
    width: 90%;
    height: 3rem;
    background-color: var(--dark-orange);
    color: white;
    text-decoration: none;
    border-radius: 15px;
    border: none;
    transition: all 1s;
}

.purchase-order-confirm button:hover {
    background-color: var(--light-orange);
    color: white;
    text-decoration: underline;
    border-radius: 15px;
    letter-spacing: 1px;
}



footer {
    height: 200px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin: 1rem;
}

.footer-links {
    background-color: var(--dark-purple);
    color: white;
    display: flex;
    flex-direction: column;

    align-items: center;
    justify-content: center;
}

.footer-links a {
    text-decoration: none;
    margin: .5rem;
    color: whitesmoke;
    transition: all 500ms;
}

.footer-links a:hover {
    color: white;
    text-decoration: underline;
    letter-spacing: 2px;
}

/* side nav  */
.side-nav {
    background-color: rgba(185, 185, 185, 0);
    display: flex;
    align-items: center;
    width: 10%;
    padding-right: 2rem;
}

.side-nav ion-icon {
    display: none;
    color: white;
    font-size: 35px;

    transition: all 500ms;
}

.side-nav ion-icon:hover {
    rotate: 90deg;
}

.side-nav-bar {
    background-color: rgba(0, 0, 0, .75);
    height: 100vh;
    width: 100%;
    position: fixed;
    top: 0;
    z-index: 100;
    right: 100%;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    gap: 5rem;
    transition: all 1s;
}


.side-nav-bar:target {
    right: 0;
}

.side-nav-bar a {
    color: rgba(245, 245, 245, 0.705);
    font-weight: 700;
    padding: .5rem;
    letter-spacing: 0.1rem;
}



.customer-reviews {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}
.customer-review-card {
    background-color: var(--light-grey);
    width: 30%;
    height: auto;
    border-radius: 30px;
    gap: 1rem;
    padding: 1rem;
    display: grid;
    grid-template-columns: 1fr, repeat(2);
    grid-template-rows: 1fr, repeat(3);
}

.customer-name {
    grid-column: 1 / 2;
    grid-row: 1;
}

.customer-rating {
    grid-column: 2 / 3;
    grid-row: 1;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding-right: 2rem;
}

.customer-rating ion-icon {
    color: var(--light-orange);
}
.customer-review-info {
    grid-row: 2 / 3;
    grid-column: span 2;
}

.customer-review-date {
    grid-row: 3;
    grid-column: span 2;
}

.accordion-head h4 {
    color: var(--txt);
}

.accordion-body {
    color: var(--txt);
    color: var(-light-grey);
}




