/* tablet */
@media only screen and (max-width: 768px) { 
    .products  {
        display: flex;
        flex-direction: column;
    }
    .product-card {
        width: 90%;
        height: 300px;
        border-radius: 15px;
        margin: 1rem;
        display: flex;
        flex-direction: column;
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
    .product-card-info {
        height: 100%;
        justify-content: center;
    }
    .product-card-img {
        height: 300px;
    }
    .product-card-img img {
        border-radius: 15px 0 0 15px;
    }


    .collections {
        grid-template-columns: 1fr;
    }

    .newsletter {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding: 1rem;
        background-color: rgb(214, 213, 218);
    }
    
    .form {
        background-color: rgb(214, 213, 218);
        height: 150px;
        margin: 1rem;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    .form form {
        display: flex;
    }
    .email {
        width: 100%;
    }
    .email input {
        height: 3rem;
        width: 100%;
    }
    .newsletter {
        align-items: flex-end;
        justify-content: center;
    }

    .side-nav {
        width: 90%;
        justify-content: flex-end;
    }
    .side-nav ion-icon {
        display: block;
    }
    .header {
        display: none;

    }
    .customer-reviews {
        flex-direction: column;
        align-items: center;
    }
    .customer-review-card {
        width: 80%;
        margin: 1rem;
    }    
    .icons {
        display: none;
    }
}

@media only screen and (max-width: 1000px) {
    .collections {
        grid-template-columns: 1fr;
    }
    
}

/* Laptop Screen */
@media only screen and (min-width: 1200px) {
    /* body {
      background-color: darkblue;
    } */
    .accordion-container {
      width: 75%;
      margin: 15px auto;
    }
  
    .modal-overlay {
      padding: 25px 250px;
    }
  }